.profilesidebar-main{
    width: 100%;
    background-color: #fff;
    border-radius: 11px;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sidebar-menu{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 40px;
}
.sidebar-menu .normaltext{
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 20px;
}
.sidebar-menu .redtext{
    color: red;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 20px;
}
@media screen and (max-width:946px){
    .sidebar-menu p{
        display: none;
    }
    
}
@media screen and (max-width:510px){
    .profilesidebar-main{
        padding: 1rem;
    }

}